* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    overflow-x: hidden;
}

#home-container{
    min-height: 100vh;
    width: 100vw;
    padding-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.home-text-container{
    background-image: linear-gradient(to right, #fff5ae, #ffd0d1);
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px 100px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.home-img{
    width: 50vw;
    height: 100vh;
    background-size: cover;
    padding: none;
    background-image: url('https://res.cloudinary.com/dlxjzmiig/image/upload/v1708532542/pexels-robin-stickel-70497_pq03af.jpg');
}

.home-heading{
    font-size: 50px;
    padding-bottom: 15px;
}

.home-para{
    font-size: 20px;
    padding: 70px 0px;
}

.btn-elem{
    background-color: #ff7070;
    color: white;
    padding: 15px 70px;
    font-size: 15px;
    border: none;
}

.nav-bar{
    width: 100vw;
    color: black;
}

.nav-bar ul{
    top: 0px;
    position: fixed;
    z-index: 9999;
    width: 100vw;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-family: 'Sans serif';
    padding: 0px 150px;
    margin: 0;
    background-color: #ff7070;
}

.mobile-nav-bar{
    display: none;
}

.list-elem a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 20px;
    position: relative;
    display: inline-block;
}

.list-elem a::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: black;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.list-elem a:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.menu-bar-img{
    width: 50px;
    height: 50px;
}


#order-container{
    background-image: linear-gradient(125deg, #fff2b1, #ffd0d1, #ffadf4);
    min-height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 50px 100px;
}

.inner-div-1{
    height: 70vh;
    width: 40vw;
    display: flex;
    flex-direction: row;
    margin-right: 50px;
}

.inner-div-2{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 0px 5px;
}

.inner-div-1-img{
    height: 100%;
    width: 50%;
    padding: 5px;
}

.inner-div-2-img{
    height: 50%;
    width: 100%;
    padding: 5px;
}

.order-card-container{
    background-color: #ff7070;
    height: 250px;
    width: 500px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

.order-card-heading{
    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.order-page-btn-elem{
    background-color: transparent;
    border: none;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 70px;
}

.arrow{
    height: 15px;
    width: 15px;
    padding-left: 3px;
}

@media only screen and (max-width: 1200px){
    .nav-bar ul{
        padding: 0px 100px;
    }

    .home-text-container{
        padding: 0px 50px;
    }


    #order-container{
        padding: 30px 70px;
    }

    .inner-div-1{
        height: 60vh;
        width: 50vw;
    }

    .order-card-container{
        height: 230px;
        width: 400px;
        padding: 18px;
    }
    
    .order-card-heading{
        font-size: 30px;
    }
    
    .order-page-btn-elem{
        font-size: 15px;
        width: 50px;
    }
}

@media only screen and (max-width: 768px){
    .mobile-nav-bar{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        background-color: #ff7070;
        top: 0px;
        position: fixed;
        z-index: 9999;
        width: 100vw;
        padding: 0px 50px;
        height: 8vh;
    }

    .menu-bar-img-mobile-view{
        width: 50px;
        height: 50px;
    }

    .nav-bar ul{
        display: none;
    }

    #home-container{
        flex-direction: column;
        justify-content: flex-start;
    }
    
    .home-text-container{
        width: 100vw;
        height: 50vh;
        padding: 0px 30px;
    }
    
    .home-img{
        width: 100vw;
        height: 50vh;
        background-size: cover;
        padding: none;
        background-image: url('https://res.cloudinary.com/dlxjzmiig/image/upload/v1708532542/pexels-robin-stickel-70497_pq03af.jpg');
    }

    .home-heading{
        font-size: 30px;
        padding-bottom: 0px;
    }
    
    .home-para{
        font-size: 15px;
        padding: 60px 0px;
    }
    
    .btn-elem{
        padding: 10px 50px;
        font-size: 15px;
    }

    #order-container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 30px 70px;
    }

    .inner-div-1{
        height: 40vh;
        width: 80vw;
        display: flex;
        flex-direction: row;
        margin-bottom: 50px;
        margin-right: 0px;
        margin-top: 40px;
    }

    .order-card-container{
        height: 180px;
        width: 85vw;
        padding: 15px;
    }
    
    .order-card-heading{
        font-size: 30px;
    }
}



